body {
    background: url(../img/fondo_body.jpg) no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: "Open Sans";
}
.linea_separacion{
	margin-top: 10px;
	border-top:1px solid #000000;
	background-color:#000000 !important;
}
.primera_franja_izquierda{
	
}
.primera_franja_izquierda span{
	font-weight: bold;
}
.primera_franja_derecha {
	padding:15px 10px 0px 0px;
	vertical-align:middle;
}
.primera_franja_derecha .numero{
	font-size: 20px;
	font-weight: bold;
}
.imagen_whatsap{
	padding:5px 0px 0px 10px;
	vertical-align:middle;
}
.techo{
    background-image: url(../img/techo.png);
    background-size: 100%;
    height:150px;
    width: 100%;
    margin:auto;
}

/*menu multi nivel boostra*/

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
.sub_menu_azul_clarito{
	background-color: #006680;
}
.form-principal{
    width:300px;
    border:1px solid black;
    padding:10px;
    position: absolute;
    z-index: 1;
    right:250px;
    margin-top:20px;
}
::-webkit-input-placeholder {
   color: #666666;
   font-weight: bold;
   font-size: 16px;
}

:-moz-placeholder { /* Firefox 18- */
   color: #666666;
   font-weight: bold;
   font-size: 16px;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #666666;
   font-weight: bold;
   font-size: 16px;  
}

:-ms-input-placeholder {  
   color: #666666;
   font-weight: bold;
   font-size: 16px;  
}
.form-control-remate{
    margin-top:5px;
    border:none;
    border-radius: 10px;
    background-color: #cccccc;
    padding:2px 2px 2px 10px;
}
.form-control-remate2{
    width:100%;
    margin-top:5px;
    border:none;
    border-radius: 10px;
    background-color: #F4F4F4;
    padding:2px 2px 2px 10px;
    height:35px;
}
.form-control-remate-textarea{
    margin-top:5px;
    border:none;
    border-radius: 10px;
    background-color: #F4F4F4;
    padding:2px 2px 2px 10px;
    width:100%;
}
.form-control-remate:focus{
    border:none;
    border-radius: 10px;
    background-color: #cccccc;
    padding:2px 2px 2px 10px;
}
.boton-remate{
    background-color: #1b77b2;
    border-radius: 15px;
    padding:5px;
    border:none;
}
/*fin menu multi nivel boostra*/

.form-centrado{
    width: 50%;
    margin:auto;
}